.cd-single-point:nth-of-type(1) {
    bottom: 19%;
    left: 39%;
}
.cd-single-point:nth-of-type(2) {
    top: 14%;
    right: 50%;
}
.cd-single-point:nth-of-type(3) {
    bottom: 17%;
    right: 48%;
}
.cd-single-point:nth-of-type(4) {
    bottom: 18%;
    right: 11%;
}
.cd-single-point:nth-of-type(5) {
    top: 51%;
    right: 47%;
}
.cd-single-point:nth-of-type(6) {
    bottom: 20%;
    right: 28%;
}
.cd-single-point:nth-of-type(7) {
    bottom: 32%;
    right: 16%;
}