html{height:100%; min-height:100%;}
body{
	height:100%;
	min-height:100%;
	oveflow:hidden;
	color: #646464;
	background-color: #fff;
	font: 500 14px/1.55 'Lato', Helvetica, Arial, sans-serif;
}

a { color: #323232;}

a:hover {
  color: #ff9000;
  text-decoration: none;
}
*:focus { outline: 0 none;}
/* Headings */

h1,
.h1 {
  font: 600 30px/1.35 'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

h2,
.h2 {
  font: 600 20px/1.35 'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}
h3,
.h3 {
  font: 600 18px/1.35 'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

h4,
.h4 {
  font: 600 16px/1.35 'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

h5,
.h5 {
  font: 600 14px/1.35  'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}

h6,
.h6 {
  font: 600 12px/1.35 'Lato', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
}
.wrapper_header{
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
}
.inner_header{ text-align: center; margin:0 auto; padding:7% 0; position:absolute; left:0; display:inline-block; width:100%; height:100%;}

#em-demo-main-store{
	text-align:center;
	padding-top:60px;
}
#em-demo-theme-features{
	background-repeat:repeat; 
	background:#fff;
}

#em-demo-main-store h1{
	margin:60px 0 73px;
}
.em-demo-header #logo  {margin:0px;}
.em-demo-header #logo  img,.em-demo-theme-features img{max-width:100%;}
.em-demo-theme-features h2.title-features{ font-size:40px;text-align:center; margin:0; text-transform: uppercase;font-weight: 700; position:relative; margin-bottom:10px;}
.line80{position:relative; display:inline-block; text-align:center; margin-bottom:0; font-size:0; width:80px;   padding: 4px 0;
  margin-bottom: 0;}
.line80:before{height: 3px;
  width: 80px;
  background-color: #ec6a54;
  content: "";
  position: absolute;
  top: 50%; left:0;
}
.line-gray.line80:before{background-color:#bcb7b9}

.em-demo-theme-features .title-features-p{margin:0 0 30px}
.bg-gray{background: #f4f4f4; padding: 87px 0; color#fff}
.bg-gray p{color#434343;}
.bg-white{background:#fff;border-top:1px solid #ecf0f1 }
.bg-white h2{font-size:30px; margin-bottom:20px;}
.bg-black{background:#222533 }
.bg-slider{padding: 87px 0 0; background:#fff url("bkg-slider.jpg") top center / 100% auto; color:#fff}
.bg-image{background:#fff url("bkg-image.html") top center / 100% auto; padding-bottom:0 !important;}
.bg-image .text-center{margin-bottom:0;}
.features-title{padding:0px 0 60px}
.bg-black{color:#fff}
.bg-black h2{color:#fff}
.text-right{text-align:right}
.layout-2column{padding:60px 0;}
.layout-2column p{color:#a1a1a1}
.layout-one-column{ padding:60px 0; text-align:center}
/*.wrapper_header{ background:url("../assets/header_bg.jpg") repeat-x top center;}*/

.move-long{
	-moz-transition: all 4s ease-out;
	-webkit-transition: all 4s ease-out;
	-o-transition: all 4s ease-out;
	transition: all 4s ease-out;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.em-demo-preview-item a .image-wrap { display: block; height:100%;	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); background-size: 100%;	background-position: center 0%;}
.em-demo-preview-item a:hover .image-wrap {
	background-position: center 100%;
}

.em-demo-preview-item a:hover span.image-wrap:after{	
	left:0%;
	right:0%;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#em-demo-header {
	text-align:center;
	min-height: 100%;
	height:100%;
	width: 100%;
	overflow:hidden;
	position:relative;
}
#em-demo-header .bg{
	background:url("header_bg.jpg") repeat-x top center;
  /*-webkit-animation:  animatedBackground 300s linear infinite;
    -moz-animation:  animatedBackground 300s linear infinite;
    animation:  animatedBackground 300s linear infinite;
	backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;*/
    width: 100%;
	min-height:100%;
	height:100%;
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	background-attachment: fixed;
	 background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/*@keyframes ui-zoom{
  0%{transform:scale(1);-webkit-transform:scale(1);transform:-moz-scale(1);}
  25%{transform:scale(1.05);-webkit-transform:scale(1.05);transform:-moz-scale(1.05);}
  50%{transform:scale(1.1);-webkit-transform:scale(1.1);transform:-moz-scale(1.1);}
  75%{transform:scale(1.15);-webkit-transform:scale(1.15);transform:-moz-scale(1.15);}
  100%{transform:scale(1.2);-webkit-transform:scale(1.2);transform:-moz-scale(1.2);}
}

@-webkit-keyframes ui-zoom{
  0%{transform:scale(1);-webkit-transform:scale(1);transform:-moz-scale(1);}
  25%{transform:scale(1.05);-webkit-transform:scale(1.05);transform:-moz-scale(1.05);}
  50%{transform:scale(1.1);-webkit-transform:scale(1.1);transform:-moz-scale(1.1);}
  75%{transform:scale(1.15);-webkit-transform:scale(1.15);transform:-moz-scale(1.15);}
  100%{transform:scale(1.2);-webkit-transform:scale(1.2);transform:-moz-scale(1.2);}
}
@keyframes animatedBackground  {
    from  {
     background-position:  0 0;
	}
	to  {
		 background-position:  5920px 0;
	 }
}
@-webkit-keyframes animatedBackground  {
    from  {
     background-position:  0 0;
	 }
	to  {
		 background-position:  5920px 0;
	 }
}
@-moz-keyframe animatedBackground  {
    from  {
     background-position:  0 0;
 }
	to  {
		 background-position:  5920px 0;
	 }
}*/
.em-demo-preview-item{ position:relative;margin:20px 0; text-align:center}


.em-demo-preview-item > a .hover{	
  font-size: 18px;
  padding: 13px 30px;
  position: absolute;
  text-align: center;
  background-color: #f23534;
  border:1px solid #f23534;
  color: #fff;
  top: 36%;
  left: 31%;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -webkit-transition: all 200ms ease-out 0s;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
.em-demo-preview-item > a:hover .hover{	
	opacity: 1;
	filter: alpha(opacity=100);
	
}
.em-demo-preview-item > a:hover .hover:hover{	
	color:#f23534;
	background-color:#fff;
	border-color:#f23534;
	
}

.em-demo-preview-item .main-store {
	text-align:center;
	margin-top:15px;
}
.em-demo-preview-item .main-store a{
	font-size: 16px;
	line-height: 20px;
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  -webkit-transition: all 200ms ease-out 0s;
}
.em-demo-preview-item .main-store a:hover{
	color:#f23534
}

#back-top{
	position:fixed;
	bottom:20px;
	right:20px;
	margin:0;
}
#back-top a {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  font-size:13px;
  padding:15px 0;
  border: 1px solid transparent;
  position: relative;
  text-transform: uppercase;
  -moz-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #ffffff;
  border-color: #f23534;
  background-color: #f23534;
  text-decoration:none;
}
#back-top a:hover {
	color: #474747;
	border-color: #474747;
	background-color: #ffffff;
}

.btn-header{display:block;margin:0 10px}
.effect_btn{	text-decoration: none; text-transform: uppercase;	-moz-transition: all 400ms ease; -webkit-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease; }
.button{ font-size: 24px; color: #fff; font-weight: 600; padding:25px 75px; border: 1px solid #f6c43d; display: inline-block; border-bottom:4px solid #c59719; background:#f6c43d;
	-webkit-border-radius:35px; -moz-border-radius: 5px; border-radius: 5px; margin:35px 10px 20px; }
.button:hover{	color:#fff;text-decoration:none; opacity:0.7; -webkit-opacity:0.7; -moz-opacity:0.7}
.btn_homepage,.btn_color{
	font-size:19px;
	padding:10px 35px;
	border: 2px solid;
}
.button.btn_homepage{ background-color:#1b9fca; border-color:#1b9fca;}
.button.btn_homepage:hover{ background-color:transparent; border-color:#1b9fca;}
.button.btn_color{ background-color:#95b313;border-color:#95b313;}
.button.btn_color:hover{ background-color:transparent; border-color:#95b313;}
.nav-tabs{ border-bottom:0 none; margin:0 auto;text-align:center;}
.nav-tabs li{ float:none!important; display:inline;}
.nav-tabs li a{ border:1px solid #8dcff4; font-family: 'PT Sans', sans-serif; text-align:center; padding:10px 30px; color:#323232; font-size:19px; margin:0 5px 10px; display:inline-block; border-radius:0; text-transform:uppercase; }
.nav-tabs li:hover a,.nav-tabs li.active a{ background-color:#95b313; color:#fff!important;border-color:#95b313!important;}
.btn-view-theme{ text-align:center}
/*.btn_wrapper{  margin:20px 0; text-align:center;}*/
.view-theme{ font-size:16px; color: #434343; font-weight: 600; display: inline-block; text-decoration: none; margin:20px 0; text-transform:uppercase; font-family:Lato}
.view-theme:hover{  color: #ec6a54; }

.btn-view-theme-icon{ position:absolute; top:38%; margin-left:-17px; text-align:center; opacity:0; -moz-opacity:0; -webkit-opacity:0; -moz-transition: all 4s ease-out;; display:inline-block;
	/*-webkit-transition: all 4s ease-out;;
	-o-transition: all 4s ease-out;;
	transition: all 4s ease-out;*/ display:none;}
.em-demo-preview-item:hover .btn-view-theme-icon{opacity:1; -moz-opacity:1; -webkit-opacity:1;}
.btn-view-theme-icon .view-theme{ font-size:0; background:#ec6a54 url(../img/i-eye.html) center center no-repeat; width:41px; height:41px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; margin:0; position:relative}
.em-demo-preview-item.coming-soon > a:before{ display:none}
.em-demo-preview-item.coming-soon  > a{height:auto;}
.em-demo-preview-item.coming-soon  > a img{display: block; max-width: 100%; height: auto;}

.btn-view-theme-icon .view-theme:after{
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		ointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';	
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		top: 0;
		left: 0;
		padding: 0;
		-webkit-box-shadow: 3px 3px rgba(255,255,255,1);
		-moz-box-shadow: 3px 3px rgba(255,255,255,1);
		box-shadow: 3px 3px rgba(255,255,255,1);
		opacity: 0;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
}
.btn-view-theme-icon .view-theme:hover{
	background-color:#ec6a54;
}
.btn-view-theme-icon .view-theme:hover:after{
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

/*block home*/
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
	}
	100% {
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
	}
	100% {
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
	}
	100% {
		box-shadow: 0 0 0 2px #ec6a54, 0 0 10px 10px #fbe2de, 0 0 0 10px #ec6a54;
		transform: scale(1.5);
		opacity: 0;
	}
}


#button_container .dropdown-color li{  display:inline-block;float:left!important; margin-left:2px;}
#button_container .dropdown-color li a,#button_container li.color .dropdown-color a.tab-link{ border:0 none;padding:0; font-size:0;width:15px; height:15px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; margin:0; vertical-align:top;}
#button_container .dropdown-color li:hover{ background:transparent;}
#button_container li.color { position:relative;}
#button_container li.color > a{ padding-right:120px;}
#button_container li.color .dropdown-color{ position:absolute; top:0; right:30px;}
#button_container li.color .dropdown-color li a.tab-link{  display:none;}
#button_container li.color .dropdown-color a.tab-link{ background-color:#1fa9d0; float:left; display:inline-block;}
#button_container .dropdown-color li:nth-child(2) a{ background-color:#00aaaa;}
#button_container .dropdown-color li:nth-child(3) a{ background-color:#69a50f;}
#button_container .dropdown-color li:nth-child(4) a{ background-color:#d21e05;}
#button_container .dropdown-color li:nth-child(5) a{ background-color:#4b1496;}
#em-demo-main-store .em-demo-preview-item > a {
  position:relative;
  display:block;
}
#em-demo-main-store .em-demo-preview-item > a img{ }
#em-demo-main-store .em-demo-preview-item > a:after{
	position:absolute; left:0; bottom:0; content:''; width:100%; height:100px; background:url(bkg-image-2.html) 0 0 no-repeat; 
}
#em-demo-main-store .em-demo-preview-item > a:before{
	position:absolute; left:0; bottom:0; content:''; width:100%; height:100%;box-shadow:0 0 5px #cdcdcd;
}
.header-title{ color:#fff; font-size:60px; line-height:60px; margin-bottom:30px; font-weight:700; text-transform:uppercase; padding-top:0.5em;font-family: 'Lato', sans-serif;} 
.header-title-small{ color:#fff; font-size:22px; margin-bottom:0; text-transform:uppercase} 
.desc-store{ padding:30px; background:#ec6a54; text-align:center; margin-bottom:70px; position:relative;}
.desc-store:after{
position: absolute;
left: 48.4%;
bottom: -29px;
content: "";
width: 15px;
height: 12px;
z-index: 1;
border: 15px solid transparent;
border-top-color: #ec6a54;
border-left-width: 25px;
border-right-width: 25px;
}
.desc-store p{ text-transform:uppercase; font-size:30px; line-height:30px; display:block; margin-bottom:0; color:#fff}
.desc-store span.line_bt{  position:relative; border-top:1px solid #d3d3d3; width:362px; display:block; clear:left; text-align:center; margin:30px auto 0; padding-bottom:0;}
.desc-store span.line_bt:after{border-top:5px solid #d3d3d3; top:-3px; content: ""; left:36%; position: absolute; width:100px;}
.copyright{ color:#a1a1a1; font-size:11px; background:#222222;padding:50px 0}
.copyright address{ margin-bottom:0;}
.copyright a{ color:#a1a1a1;}
.copyright a:hover{ text-decoration:underline}
 
#em-demo-love-theme{background:url("footer_bg.jpg") repeat-x top center; padding:150px 0 150px; color:#fff;}
#em-demo-love-theme .copyright{ padding-top:100px;}
#em-demo-love-theme .buy_theme{margin:20px 0}
#em-demo-love-theme .title-top{ font-size:40px; line-height:50px; font-weight:600;text-transform:uppercase; margin-bottom:15px;}
#em-demo-love-theme .title{ font-size:24px; font-weight:400; font-style:italic;font-family: 'Lato', serif;}
#em-demo-love-theme .btn_homepage{ font-size:21px; font-weight:600; padding:15px 35px;}

.em-demo-main-color{ border-top:5px solid #d3d3d3; clear:left; margin-top:20px;}



#em-demo-main-store,.em-demo-main-color,.em-demo-unlimited-color,.em-demo-theme-features{ overflow:hidden;}

.em-demo-preview-item > a{display:block;  background-size:100% auto; height:500px; margin:0 auto; box-shadow:0 0 5px #EFEFEF; -moz-box-shadow:0 0 5px #EFEFEF; -webkit-box-shadow:0 0 5px #EFEFEF; position:relative;}

.em-demo-preview-item.new > a:before{ position:absolute;top:-6px; right:-7px; width:138px; height:134px; content:""; background: url('label-new.png') 0 0 no-repeat transparent;}


.nav-tabs.fixed{ background:#fff; box-shadow:0 2px 3px #e7e7e7; position:fixed; left:0; top:0; z-index:99; margin-top:0; padding-top:10px; right:0;}
@media (max-width: 320px){.nav-tabs li a{ width:100%; padding:10px;}}

@media (max-width: 767px){
	#em-demo-header #logo img{ max-width:100%; padding:0 20px;}
	.header-title{ font-size:20px; line-height:25px; magin:20px 0;}
	.buy_theme,.btn_homepage, .btn_color{	font-size:13px; padding: 10px 12px;	}
	.desc-store span,#em-demo-love-theme .btn_homepage{ font-size:18px;}
	.desc-store span.line_bt{ width:200px; margin-top:18px;}
	.desc-store span.line_bt:after{ width:50px;}
	#em-demo-love-theme .title-top{ font-size:20px;}
	#em-demo-love-theme .title{font-size:13px;}
	.em-demo-preview-item > a,
	.em-demo-main-color .em-demo-preview-item > a{width:260px;height:216px; padding:15px 12px 52px;}
	.nav-tabs.fixed{ position:relative;}
}
