.em-slideshow {
  margin-bottom: 20px;
}
.em-slideshow h1, .em-slideshow h2, .em-slideshow h3, .em-slideshow h4 {
  color: #434343;
}
.em-slideshow h2:after, .em-slideshow h2:before {
  background-color: #434343;
}
.em-slideshow .button-link {
  border-width: 2px;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
  width: 70%;
  left: 14%;
  top: 23%;
}
.em-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
  width: 48%;
  left: 50%;
}
.em-slideshow .owl-theme .owl-controls .owl-buttons div {
  top: 41%;
}

.em-box-bkg {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.em-wrapper-ads-17 {
  background-image: url(../images/bkg-parallax.jpg);
}

.em-wrapper-area04 .products-list > .item {
  padding: 0 0 1rem;
  border-width: 0px;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.em-wrapper-area04 .products-list > .item.last {
  padding: 0;
  margin: 0;
  border-bottom-width: 0px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #be5960;
}
.em-color span.emColorStyle01:before {
  background: #ffffff;
}
.em-color span.emColorStyle01:after {
  background: #000000;
}
.em-color span.emColorStyle02 {
  background: #F3AE3C;
}
.em-color span.emColorStyle02:before {
  background: #ffffff;
}
.em-color span.emColorStyle02:after {
  background: #000000;
}
.em-color span.emColorStyle03 {
  background: #6db088;
}
.em-color span.emColorStyle03:before {
  background: #ffffff;
}
.em-color span.emColorStyle03:after {
  background: #000000;
}
.em-color span.emColorStyle04 {
  background: #aa916a;
}
.em-color span.emColorStyle04:before {
  background: #ffffff;
}
.em-color span.emColorStyle04:after {
  background: #000000;
}
