@media (min-width: 1200px) {
  .page, .wrapper, body, html {
    height: 100%;
  }

  .cms-index-index .em-wrapper-slideshow {
    height: 100%;
  }
  .cms-index-index .em-wrapper-slideshow .container-fluid, .cms-index-index .em-wrapper-slideshow .row, .cms-index-index .em-wrapper-slideshow .col-sm-24 {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item .em-owlcarousel-des {
    top: 22%;
  }
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-0 {
    left: 3%;
  }
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item .em-owlcarousel-des.em-owlcarousel-des-2 {
    left: 40%;
  }
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item {
    height: 100%;
  }
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item img, .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-item .item {
    height: 100%;
  }
  .cms-index-index .em-wrapper-slideshow .em-slideshow,
  .cms-index-index .em-wrapper-slideshow .em-owlcarousel-slideshow,
  .cms-index-index .em-wrapper-slideshow .owl-carousel,
  .cms-index-index .em-wrapper-slideshow .owl-wrapper-outer,
  .cms-index-index .em-wrapper-slideshow .owl-carousel .owl-wrapper {
    height: 100%;
  }
}
.em-slideshow {
  margin-bottom: 0;
}

.cms-index-index .em-wrapper-main .container-main {
  padding-top: 4.5rem;
}

.em-wrapper-ads-12 {
  margin-bottom: 0;
}
.em-wrapper-ads-12:first-child {
  margin-bottom: 20px;
}

.em-wrapper-ads-11 .em-ads-grid-item {
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 3rem 2rem 4.4rem;
  min-height: 442px;
}
.em-wrapper-ads-11 .em-ads-grid-item .em-ads-item {
  border-top-width: 1px;
  border-top-style: dotted;
  padding: 3rem 0 1rem;
}
.em-wrapper-ads-11 .em-ads-grid-item .em-ads-item:first-child {
  border-top-width: 0;
  padding-top: 0rem;
}

.em-wrapper-newsletter03 {
  background-image: url(../images/em_ads_11.jpg);
}

.em-wrapper-ads-17 {
  background-image: url(../images/em_ads_05.jpg);
  padding: 10rem 0;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #c34f3c;
}
.em-color span.emColorStyle01:before {
  background: #ffffff;
}
.em-color span.emColorStyle01:after {
  background: #000000;
}
.em-color span.emColorStyle02 {
  background: #0a9efa;
}
.em-color span.emColorStyle02:before {
  background: #ffffff;
}
.em-color span.emColorStyle02:after {
  background: #000000;
}
.em-color span.emColorStyle03 {
  background: #f91a10;
}
.em-color span.emColorStyle03:before {
  background: #ffffff;
}
.em-color span.emColorStyle03:after {
  background: #000000;
}
.em-color span.emColorStyle04 {
  background: #542c90;
}
.em-color span.emColorStyle04:before {
  background: #ffffff;
}
.em-color span.emColorStyle04:after {
  background: #000000;
}

/*===========fade=============*/
.owl-fade-out {
  -webkit-animation: fadeOutCustom .9s both ease !important;
  -moz-animation: fadeOutCustom .9s both ease !important;
  animation: fadeOutCustom .9s both ease !important;
}

.owl-fade-in {
  -webkit-animation: fadeInCustom .9s both ease !important;
  -moz-animation: fadeInCustom .9s both ease !important;
  animation: fadeInCustom .9s both ease !important;
}

@-webkit-keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
